/*all*/
body {
    font-size: 24px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
    width: 80%;
/*    box-shadow: 0 0px 0px rgba(199, 174, 152, 0.3);*/
    background-color: white;
    width: 100%;
    
}

/*header*/
header {
    padding: 1% 15%;
    background-color: white;
    border-bottom: 20px black;
    height: 200px;
    color: dimgrey;
    text-align: right;
    display:block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);

}


.imgheader {
    min-width: 200px;
    min-height: 200px;
    padding: 0;
    margin: 0;
    border-width: 0;
    float: left;
}

.imgheader img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 5px solid pink;
    margin: 0;
    padding: 0;
}

.name {
    margin: 0;
    padding: 0;
    height: 80%; 
    float: left;
    width: 70%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family: 'Quattrocento', serif;
    color: black;
}

.nav {
    height: 20%;
    float: right;
    width: 70%;
    text-transform: uppercase;

}

nav ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    padding: 2.5%;
}

nav li a {
    vertical-align: middle;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(105, 105, 105, 0.53);
    font-size: 20px;
}

nav li a:hover{
    color: dimgrey;
}


/*main*/
.main {
    padding: 2% 15%;
/*    height: 60vh;*/
    display: block;
    background-color: white;
font-family: 'Quattrocento', serif;
    
}

.active {
    color: dimgrey;
}

/*DLR page*/
.matrix{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.matrix tr:nth-child(even){
    height: 80px;
    vertical-align: top;
}

.matrix tr:nth-child(odd) td:nth-child(1){
    vertical-align: top;
}
.skill30{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 30%, white 0%);
}

.skill50{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 50%, white 0%);
}


.skill90{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 90%, white 0%);
}

.skill80{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 80%, white 0%);
}

.skill60{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 60%, white 0%);
}

.skill70{
    height: 20px;
    margin-top: 5px;
    border: 1px solid pink;
    border-radius: 7px;
    background: linear-gradient(to right, pink 70%, white 0%);
}

/*CV page*/
.imgCV{
    width: 100%;
    height: 80%;
    padding: 0;
}
.imgDownload{
    display: block;
    bottom: 60px;
    width: 100%
    
}

.left{
    float: left;
    width: 88%;
}

.right{
    margin-top: 99%;
    float: right;
    width: 10%;
}

/*Portfolio page*/
.portpic{
    width: 80%;
    display: block;
    margin: auto;
   box-shadow: 0px 0px 15px 0.5px #e2dddd;
    border-radius: 3px;
    
}
/*footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.allFooterimg{
    position: absolute;
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
}

/*iconfinder*/
.imgf{
    color: pink;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #ffc0cb;
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.imgf:hover{
   cursor: pointer;
}

.imgf img{
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
