/*all*/
body {
    font-size: 24px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
    width: 80%;
    box-shadow: 0 2px 2px rgba(199, 174, 152, 0.3);
    background-color: white;
    width: 100%;
    
}

/*header*/
header {
    padding: 1% 15%;
    background-color: white;
    border-bottom: 20px black;
    height: 200px;
    color: dimgrey;
    text-align: right;
    display:block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);

}


.imgheader {
    min-width: 200px;
    min-height: 200px;
    padding: 0;
    margin: 0;
    border-width: 0;
    float: left;
}

.imgheader img {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 5px solid pink;
    margin: 0;
    padding: 0;
}

.name {
    margin: 0;
    padding: 0;
    height: 80%; 
    float: left;
    width: 70%;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family: 'Quattrocento', serif;
    color: black;
}

.nav {
    height: 20%;
    float: right;
    width: 70%;
    text-transform: uppercase;

}

nav ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
    padding: 2.5%;
}

nav li a {
    vertical-align: middle;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(105, 105, 105, 0.53);
    font-size: 20px;
}

nav li a:hover{
    color: dimgrey;
}


/*main*/
.main {
    padding: 2% 15%;
    height: 70vh;
    display: block;
    background-color: white;
font-family: 'Quattrocento', serif;
    
}

.active {
    color: dimgrey;
}